USE [CP]
GO
/****** Object:  Table [dbo].[tbl_CaseDetails]    Script Date: 08/05/2012 17:49:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_CaseDetails](
	[CaseId] [int] IDENTITY(300,1) NOT NULL,
	[CaseName] [varchar](50) NOT NULL,
	[Description] [varchar](500) NOT NULL,
	[FileContent] [varbinary](max) NOT NULL,
	[FileName] [varchar](50) NOT NULL,
	[RegisterDate] [date] NOT NULL,
	[AgencyId] [int] NULL,
	[AgentId] [int] NULL,
 CONSTRAINT [PK_tbl_CaseDetails] PRIMARY KEY CLUSTERED 
(
	[CaseId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_CaseDetails] ON
SET IDENTITY_INSERT [dbo].[tbl_CaseDetails] OFF
/****** Object:  Table [dbo].[tbl_UserDetails]    Script Date: 08/05/2012 17:49:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_UserDetails](
	[UserId] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[DateOfRegistration] [varchar](50) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[EmailId] [varchar](50) NOT NULL,
	[ContactNo] [varchar](50) NOT NULL,
	[Photo] [varbinary](max) NULL,
	[PhotoFileName] [varchar](50) NULL,
	[AgencyId] [int] NULL,
 CONSTRAINT [PK_tbl_UserDetails] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Login]    Script Date: 08/05/2012 17:49:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Login](
	[UserId] [int] NOT NULL,
	[LoginId] [varchar](50) NOT NULL,
	[PassWord] [varchar](50) NOT NULL,
	[Role] [varchar](50) NULL,
	[HintQuestion] [varchar](50) NULL,
	[Answer] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_Login] ([UserId], [LoginId], [PassWord], [Role], [HintQuestion], [Answer]) VALUES (1, N'ramesh', N'ramesh', N'Agency', N'Your PetName?', N'rami')
INSERT [dbo].[tbl_Login] ([UserId], [LoginId], [PassWord], [Role], [HintQuestion], [Answer]) VALUES (2, N'Agent', N'gopi', N'Agent', NULL, NULL)
/****** Object:  StoredProcedure [dbo].[Sp_ViewCaseDetailsFromDefense]    Script Date: 08/05/2012 17:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Sp_ViewCaseDetailsFromDefense](@AgencyId int)
as begin


select CaseId,CaseName,Description,convert(varchar(20),RegisterDate,101) as RegisterDate ,FileContent,
AgencyId
from tbl_CaseDetails where AgencyId=@AgencyId



end
GO
/****** Object:  StoredProcedure [dbo].[Sp_ViewCaseDetailsFromAgency]    Script Date: 08/05/2012 17:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Sp_ViewCaseDetailsFromAgency](@AgentId int)
as begin

declare @AgencyId int

set @AgencyId=(select AgencyId from tbl_UserDetails where UserId=@AgentId)


select CaseId,CaseName,Description,convert(varchar(20),RegisterDate,101) as RegisterDate ,FileContent,
AgentId
from tbl_CaseDetails where AgentId=@AgentId and AgencyId=@AgencyId



end
GO
/****** Object:  StoredProcedure [dbo].[Sp_ViewCaseDetails]    Script Date: 08/05/2012 17:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Sp_ViewCaseDetails]
as begin



select CaseId,CaseName,Description,convert(varchar(20),RegisterDate,101) as RegisterDate from tbl_CaseDetails

end
GO
/****** Object:  StoredProcedure [dbo].[Sp_AssignCaseToAgent]    Script Date: 08/05/2012 17:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sp_AssignCaseToAgent](@CaseId int,@AgentId int)

as begin

update tbl_CaseDetails set AgentId=@AgentId
where CaseId=@CaseId  and AgentId=0


end
GO
/****** Object:  StoredProcedure [dbo].[Sp_AssignCaseToAgency]    Script Date: 08/05/2012 17:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Sp_AssignCaseToAgency](@CaseId int,@AgencyId int)
as begin

update tbl_CaseDetails set AgencyId=@AgencyId
where CaseId=@CaseId  and AgencyId=0


end
GO
/****** Object:  StoredProcedure [dbo].[Sp_Download]    Script Date: 08/05/2012 17:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Sp_Download](@CaseId int)
as begin

select CaseId,FileContent,FileName
from tbl_CaseDetails where CaseId=@CaseId


end
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetUserId]    Script Date: 08/05/2012 17:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure  [dbo].[Sp_GetUserId]
as
begin
select UserId=isnull(Max(UserId),0)+1 from tbl_UserDetails
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_InsertUserRegistration]    Script Date: 08/05/2012 17:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Sp_InsertUserRegistration](@UserId int,@FirstName varchar(50),@LastName varchar(50),@DateOfBirth datetime,@Address varchar(50),@EmailId varchar(50),@ContactNo varchar(50),@Photo varbinary(max),@PhotoFileName varchar(50))
as
begin
insert into tbl_UserDetails(UserId,FirstName,LastName,DateOfBirth,DateOfRegistration,Address,EmailId,ContactNo,Photo,PhotoFileName) values(@UserId,@FirstName,@LastName,@DateOfBirth,getdate(),@Address,@EmailId,@ContactNo,@Photo,@PhotoFileName)
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_InsertCaseDetails]    Script Date: 08/05/2012 17:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Sp_InsertCaseDetails](@CaseName varchar(50),@Description varchar(500),@FileContent varbinary(max),@FileName varchar(50))
as begin


insert into tbl_CaseDetails(CaseName,Description,FileContent,FileName,RegisterDate)
values (@CaseName,@Description,@FileContent,@FileName,GETDATE())

end
GO
/****** Object:  StoredProcedure [dbo].[Sp_InsertAgentRegistration]    Script Date: 08/05/2012 17:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Sp_InsertAgentRegistration](@UserId int,@FirstName varchar(50),@LastName varchar(50),@DateOfBirth datetime,@Address varchar(50),@EmailId varchar(50),@ContactNo varchar(50),@Photo varbinary(max),@PhotoFileName varchar(50),@AgencyId int)
as
begin
insert into tbl_UserDetails(UserId,FirstName,LastName,DateOfBirth,DateOfRegistration,Address,EmailId,ContactNo,Photo,PhotoFileName,AgencyId) values(@UserId,@FirstName,@LastName,@DateOfBirth,getdate(),@Address,@EmailId,@ContactNo,@Photo,@PhotoFileName,@AgencyId)
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetUserLogin]    Script Date: 08/05/2012 17:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Sp_GetUserLogin](@LoginId varchar(50),@PassWord varchar(50),@Role varchar(20) output,@UserId int output)
AS
select @Role=Role from tbl_Login where LoginId=@LoginId and PassWord=@PassWord
if @Role is null
begin
set @Role='NoUser'
set @UserId=0
end
else
begin
set @UserId=(select UserId from tbl_Login where LoginId=@LoginId and PassWord=@PassWord)
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetAgentDetails]    Script Date: 08/05/2012 17:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sp_GetAgentDetails](@AgencyId int)
as begin


select u.UserId,u.FirstName+' '+u.LastName as Name,
u.EmailId,u.DateOfBirth,u.DateOfRegistration,
u.ContactNo,u.Address,U.Photo 

from tbl_UserDetails u,tbl_Login l

WHERE l.Role='Agent' and u.UserId=l.UserId and u.AgencyId=@AgencyId

end
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetAgencyDetailsForCase]    Script Date: 08/05/2012 17:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Sp_GetAgencyDetailsForCase]
as begin


select u.UserId,u.FirstName+' '+u.LastName as Name,
u.EmailId,u.DateOfBirth,u.DateOfRegistration,
u.ContactNo,u.Address,U.Photo 

from tbl_UserDetails u,tbl_Login l

WHERE l.Role='Agency' and u.UserId=l.UserId 
and u.UserId not in(select AgencyId from tbl_CaseDetails)

end
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetAgencyDetails]    Script Date: 08/05/2012 17:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Sp_GetAgencyDetails]
as begin


select u.UserId,u.FirstName+' '+u.LastName as Name,
u.EmailId,u.DateOfBirth,u.DateOfRegistration,
u.ContactNo,u.Address,U.Photo 

from tbl_UserDetails u,tbl_Login l

WHERE l.Role='Agency_P' and u.UserId=l.UserId

end
GO
/****** Object:  StoredProcedure [dbo].[Sp_ForgotPassWord]    Script Date: 08/05/2012 17:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[Sp_ForgotPassWord]
(@UserName varchar(50),
@HintQuestion varchar(50),
@Answer varchar(50),
@Password varchar(50) output)
as
Begin
Declare @HQuestion varchar(50)
Declare @UName varchar(50)
Declare @Ans varchar(50)

set @UName=(Select LoginId from tbl_Login Where LoginId=@UserName)
set @HQuestion =(Select HintQuestion from tbl_Login Where HintQuestion=@HintQuestion and LoginId=@UserName)
set @Ans=(Select Answer from tbl_Login Where Answer=@Answer and LoginId=@UserName)
if(@UName is null)
begin
set @Password='Sorry UserName Wrong'
return
end
else if(@HQuestion is null)
begin
set @Password='Sorry HintQuestion Wrongly Selected'
return
end
else if(@Ans is null)
begin
set @Password='Sorry Wrong Answer Choosed'
return
end
else 
begin

set @Password=(Select Password from tbl_Login Where LoginId=@UserName and
HintQuestion=@HintQuestion and Answer =@Answer)
return

end
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_CheckUserLoginId]    Script Date: 08/05/2012 17:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Sp_CheckUserLoginId](@LoginId varchar(50))
as
begin
select LoginId from tbl_Login where LoginId=@LoginId
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_ChangePassWord]    Script Date: 08/05/2012 17:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[Sp_ChangePassWord](
@UserName varchar(50),
@OldPassWord varchar(50),
@NewPassWord varchar(50),
@Result int output)
as
begin
declare @String varchar(50)
set @String=(select PassWord from tbl_Login where LoginId=@UserName and PassWord=@OldPassWord)
if(@String =@OldPassWord)
begin
if (@String =@NewPassWord)
begin
set @Result=2
end
else
begin
Update tbl_Login set PassWord=@NewPassWord where LoginId=@UserName
set @Result=1
end
end
else
begin
set @Result=3
end
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_AcceptAgency]    Script Date: 08/05/2012 17:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sp_AcceptAgency](@UserId int)
as begin

update tbl_Login set Role='Agency' where UserId=@UserId and role='Agency_P'

end
GO
/****** Object:  StoredProcedure [dbo].[Sp_LoginInsert1]    Script Date: 08/05/2012 17:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Sp_LoginInsert1](@UserId int,@LoginId varchar(50),@PassWord varchar(50),@Role varchar(50))
as 
begin 
insert into tbl_Login(UserId,LoginId,PassWord,Role) values(@UserId,@LoginId,@PassWord,@Role)
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_LoginInsert]    Script Date: 08/05/2012 17:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Sp_LoginInsert](@UserId int,@LoginId varchar(50),@PassWord varchar(50),@HintQuestion varchar(50),@Answer varchar(50),@Role varchar(50))
as 
begin 
insert into tbl_Login(UserId,LoginId,PassWord,Role,HintQuestion,Answer) values(@UserId,@LoginId,@PassWord,@Role,@HintQuestion,@Answer)
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_LoginIdDelete]    Script Date: 08/05/2012 17:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Sp_LoginIdDelete](@UserId int)
as
begin
delete from tbl_UserDetails where UserId=@UserId


delete from tbl_Carrier where UserId=@UserId

delete from tbl_Login where UserId=@UserId

end
GO
/****** Object:  Default [DF_tbl_CaseDetails_AgencyId]    Script Date: 08/05/2012 17:49:12 ******/
ALTER TABLE [dbo].[tbl_CaseDetails] ADD  CONSTRAINT [DF_tbl_CaseDetails_AgencyId]  DEFAULT ((0)) FOR [AgencyId]
GO
/****** Object:  Default [DF_tbl_CaseDetails_AgentId]    Script Date: 08/05/2012 17:49:12 ******/
ALTER TABLE [dbo].[tbl_CaseDetails] ADD  CONSTRAINT [DF_tbl_CaseDetails_AgentId]  DEFAULT ((0)) FOR [AgentId]
GO
/****** Object:  Default [DF_tbl_Login_Role]    Script Date: 08/05/2012 17:49:12 ******/
ALTER TABLE [dbo].[tbl_Login] ADD  CONSTRAINT [DF_tbl_Login_Role]  DEFAULT ('User') FOR [Role]
GO
/****** Object:  ForeignKey [FK_tbl_Login_tbl_UserDetails]    Script Date: 08/05/2012 17:49:12 ******/
ALTER TABLE [dbo].[tbl_Login]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Login_tbl_UserDetails] FOREIGN KEY([UserId])
REFERENCES [dbo].[tbl_UserDetails] ([UserId])
GO
ALTER TABLE [dbo].[tbl_Login] CHECK CONSTRAINT [FK_tbl_Login_tbl_UserDetails]
GO
